[DEFAULT]
bantime = 3600
findtime = 600
maxretry = 3
destemail = root@localhost
sender = root@{{ ansible_facts['fqdn'] | default('localhost') }}
action = %(action_mwl)s

[sshd]
enabled = true
port = 2229
filter = sshd
logpath = /var/log/secure
backend = systemd
