---
- name: Install required packages
  ansible.builtin.package:
    name:
      - ca-certificates
      - curl
      - gnupg
    state: present

- name: Setup Docker (Debian)
  ansible.builtin.import_tasks: debian.yml
  when: ansible_facts['os_family'] == "Debian"

- name: Setup Docker (RedHat)
  ansible.builtin.import_tasks: redhat.yml
  when: ansible_facts['os_family'] == "RedHat"

- name: Start and enable Docker service
  ansible.builtin.service:
    name: docker
    state: started
    enabled: true
