[defaults]
inventory = inventory-centos8.yml
interpreter_python = auto_silent
collections_paths = /home/jawor/.ansible/collections:/usr/share/ansible/collections:/home/jawor/venv/lib/python3.12/site-packages/ansible_collections

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[connection]
pipelining = True

[inventory]
enable_plugins = yaml, ini, host_list
