- name: Restart sshd service
  ansible.builtin.service:
    name: "{{ 'ssh' if ansible_facts['os_family'] == 'Debian' else 'sshd' }}"
    state: restarted

- name: Restart firewalld service
  ansible.builtin.service:
    name: firewalld
    state: restarted
